<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blackboard Archive Reporter</title>
  <link rel="stylesheet" href="./css/materialize.min.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BlackBoard Archive Reporter</a>
    </div>
  </nav>
  <main id="app" class="container">
    <div id="studentListView" v-if="currentView === 'studentList'">
      <h3 v-if="courseSettings">{{courseSettings.courseId}} | {{courseSettings.courseTitle}}</h2>
        <table>
          <tr>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Email Address</th>
            <th>Student Id</th>
            <th>UserId</th>
            <th>Membership Id</th>
            <th>Grade Report</th>
          </tr>
          <tr v-for="user in users">
            <td>{{user.fullName}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.emailAddress}}</td>
            <td>{{user.studentId}}</td>
            <td>{{user.id}}</td>
            <td>{{user.membershipId}}</td>
            <td><button class="waves-effect waves-light btn" @click="viewGradeReport(user)" type="button">View</button></td>
          </tr>
        </table>
    </div>
    <div id="gradeReportView" v-if="currentView === 'gradeReport' ">
      <button class="waves-effect waves-light btn" @click="viewStudentList" type="button">Back</button>
      <h3>Grade Report: {{selectedStudent.fullName}}</h3>
      <table>
        <tr>
          <th>Title</th>
          <th>Gradable Item Id</th>
          <th>Is Scorable</th>
          <th>Due Date</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th>Single Attempt</th>
          <th>Multiple Attempts</th>
          <th>Points Possible</th>
          <th>Outcomes</th>
          <th>Grade History Entries</th>
          <th>Attempt File</th>
        </tr>
        <tr v-for="entry in individualGradebook">
          <td>{{entry.title}}</td>
          <td>{{entry.id}}</td>
          <td>{{entry.isScorable}}</td>
          <td>{{entry.dates.due}}</td>
          <td>{{entry.dates.created}}</td>
          <td>{{entry.dates.updated}}</td>
          <td>{{entry.singleAttempt}}</td>
          <td>{{entry.multipleAttempts}}</td>
          <td>{{entry.pointsPossible}}</td>
          <td>{{entry.outcomes}}</td>
          <td>{{entry.gradebookHistoryEntries}}</td>
          <td><a target="_blank" :href="entry.gradebookHistoryEntries.length > 0 ? entry.gradebookHistoryEntries[0].attemptFile?.filePath: '' ">{{entry.gradebookHistoryEntries.length > 0 ? entry.gradebookHistoryEntries[0].attemptFile?.filePath : ''}}</a></a></td>
        </tr>
      </table>
    </div>
  </main>
  <script src="./js/materialize.min.js"></script>
  <script src="./js/vue.js"></script>
  <script src="./js/services.js"></script>
  <script src="./js/index.js"></script>

</body>
</html>